body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

.retro {
    .screen {
        position: fixed;
        top: 0;
        left: 0;
    }

    .page {
        height: 100vh;
        width: 100vw;
        background-color: transparent;
    }

    .tv-static {
        position: relative;
    }

    .scene-foreground {
        z-index: -10;
    }

    .scene-background {
        z-index: -20;
    }

    .hidden {
        visibility: hidden;
    }

    .grid-with-content {
        display: grid;
        grid: "channel . change-style" 1.5fr ". title ." 2fr ". content ." 5fr ". menu ." 1.5fr ". . ." 1fr e("/") 1fr 8fr 1fr;
    }

    .grid-item-change-style {
        grid-area: change-style;
        background-color: pink;
    }

    .grid-item-title {
        grid-area: title;
        justify-self: center;
        align-self: end;
        background-color: aqua;
    }

    .grid-item-content {
        grid-area: content;
        background-color: chartreuse;
    }

    .home-screen .grid-item-content {
        justify-self: center;
        align-self: start;
    }

    .grid-item-menu {
        grid-area: menu;
        background-color: darkorange;
        justify-self: center;
        align-self: start;
    }

    .grid-with-sub-menu {
        display: grid;
        grid:   ". . ."           1fr 
                "sub-menu title ."      2fr
                "sub-menu content content" 5fr
                "menu menu menu"        1fr
                ". . ."                 1fr
                / 1fr 8fr 1fr;
    }
}

.vanilla {

    

    canvas {
        display: none;
    }
}