@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-light-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* scroll-padding: 2rem; */
}

section {
    @apply flex flex-col min-h-screen h-screen flex-shrink-0 items-center justify-center p-6 leading-7;
    scroll-snap-align: start;
}

section > div,
footer {
    max-width: 65ch;
}

section h2 {
    @apply text-4xl font-bold mb-10;
}

section p {
    @apply text-sm;
    max-width: 65ch;
}

section p+p {
    @apply mt-7;
}

section a {
    @apply text-primary underline;
}

@screen sm {
    section p {
        @apply text-base;
    }
}
