@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-light-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-medium-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-semibold-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('public/fonts/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('public/fonts/spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    @apply bg-primary;
    scroll-behavior: smooth;
    scroll-snap-points-y: 100vh;
    scroll-snap-destination: 0 0;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow-y: scroll;
    scroll-padding-bottom: 2rem;
}

img {
    @apply max-h-card w-auto self-center;
}

section {
    @apply bg-white flex flex-col min-h-screen flex-shrink-0 items-center justify-center p-3 leading-normal;
    scroll-snap-align: start;
}

section > div,
footer {
    max-width: 65ch;
    width: 100%;
}

section h2 {
    @apply text-3xl font-bold mb-3 leading-loose;
}

section p {
    @apply text-sm;
    max-width: 65ch;
}

section p+p {
    @apply mt-5;
}

section a {
    @apply text-primary underline;
}

@screen sm {
    section {
        @apply p-6;
    }

    section p {
        @apply text-base;
    }

    section h2 {
        @apply text-4xl font-bold mb-8;
    }
}
